<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>后台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/boostrap/css/bootstrap.min.css}" />
  <script th:src="@{/boostrap/js/jquery.min.js}"></script>
  <script th:src="@{/boostrap/js/popper.min.js}"></script>
  <script th:src="@{/boostrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/boostrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<header th:replace="admin/header::header-box"></header>

  <div class="container">
    <div class="d-flex align-items-end " style="margin-top: 30px">
      <div class="card text-bg-primary bg-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">设备性能</h5>
          <p class="card-text">处理器</p>
          <p class="card-text">内存</p>
          <p class="card-text">硬盘</p>
        </div>
      </div>
      <div class="card text-bg-info bg-success" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">项目版本</h5>
          <p class="card-text">项目名</p>
          <p class="card-text">版本号</p>
          <p class="card-text">版本日期</p>
        </div>
      </div>
      <div class="card text-bg-light bg-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">运行环境</h5>
          <p class="card-text">Mysql</p>
          <p class="card-text">jdk</p>
          <p class="card-text">tomcat</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>