<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/boostrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/fileinput.css}" />
    <script th:src="@{/boostrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/boostrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/admin/js/fileinput.js}"></script>
    <title>Bootstrap File Input Example</title>
</head>
<body>

<div class="container mt-5">
    <form th:action="@{/userAdmin/upload}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="fileInput" class="form-label">选择文件</label>
            <!-- 使用 Bootstrap File Input 插件创建文件上传组件 -->
            <input type="file" class="form-control" id="fileInput" name="file">
        </div>
        <button type="submit" class="btn btn-primary">上传文件</button>
    </form>
</div>

</body>
</html>