<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>后台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/boostrap/css/bootstrap.min.css}" />
  <script th:src="@{/boostrap/js/jquery.min.js}"></script>
  <script th:src="@{/boostrap/js/popper.min.js}"></script>
  <script th:src="@{/boostrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/boostrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<header th:replace="user/header::user-header-box"></header>

  <div class="container">
    <div class="d-flex align-items-end " style="margin-top: 30px">
      <div class="card text-bg-primary bg-info" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">欢迎登陆后台</h5>
        </div>
      </div>
      </div>
      <div class="d-flex justify-content-between" style="margin-top: 15px">
        <div class="card" style="width: 49%;">
          <div class="card-header">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
        <div class="card" style="width: 49%;">
          <div class="card-header">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
    </div>
    <div class="card text-center" style="margin-top: 15px">
      <div class="card-header">
        管理员公告
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</body>
</html>