<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录&注册页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/boostrap/css/bootstrap.min.css}" />
  <script th:src="@{/boostrap/js/jquery.min.js}"></script>
  <script th:src="@{/boostrap/js/popper.min.js}"></script>
  <script th:src="@{/boostrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/home/css/head.css}" />
  <link rel="stylesheet" th:href="@{/home/css/login.css}" />
  <link rel="stylesheet" th:href="@{/home/css/foot.css}" />
</head>
<body>
<header th:replace="home/header::header-head"></header>
<div style="height: 60px;width: 100%"></div>
<div class="container">
  <div class="main">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link title-link" aria-current="page" href="login.html">登录</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="register.html" aria-current="page">注册</a>
      </li>
    </ul>
  </div>
  <form class="login-data" th:action="@{/register-info}" method="post">
    <div class="form-group row">
      <label for="inputEmail34" class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-10">
        <input type="text" name="userName" class="form-control" id="inputEmail34">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword3">
      </div>
    </div>
<!--    // 在Thymeleaf页面中显示验证码图片-->
    <div class="form-group row">
      <label for="inputPassword5" class="col-sm-2 col-form-label">验证码</label>
      <div class="col-sm-5">
        <input type="text" name="code" class="form-control" id="inputPassword5">
      </div>
      <div id="cacheImg">
        <img th:src="@{/CacheCode}" onclick="this.src='/CacheCode?'+Math.random();" alt="点击刷新验证码">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked onclick="return false;" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            阅读并同意我们的<a href="javascript:;" data-toggle="modal" data-target="#userModal">隐私条款</a>和<a href="javascript:;" data-toggle="modal" data-target="#privateModal">用户协议</a>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">隐私条款</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        用户隐私协议<br>
        尊敬的用户，欢迎阅读本协议：
        <br>
        您的隐私对我们（“我们”或“我们的”）很重要。并且我们致力于保护您的隐私。<br>因此，我们制定了隐私政策。本隐私政策（“隐私政策”）解释了当您使用软件和服务时，我们如何处理您的信息并保护您的隐私，以及与您的信息有关的可用权利和选项。<br>我们认为，您有权了解我们在使用软件和服务（“软件和服务”）时可能收集和使用的信息的做法。如果您不同意此处设定的条款和条件，请不要使用该软件和服务。
        <br>
        1.我们处理的信息以及处理您的信息的目的<br>
        我们将处理两大类信息。我们的使命是不断改进我们的软件和服务，并为您提供新的或更好的体验。作为此任务的一部分，我们将您的信息用于以下目的。如果出现用于处理您的个人数据的任何新目的，我们将通过对本隐私政策进行相应的更改，在开始处理有关该新目的的信息之前通知您。
        <br>
        1.1您提交的信息
        <br>
        （1）相机和照片（不包括面部照片）。通常，为了向您提供许多照片编辑器功能（例如模板，滤镜），您可以自愿授予我们访问相机或相册的权限，以便在您的移动设备中获取照片。我们将使用第三方提供的SDK处理照片。对于此类照片，我们既不会存储也不会与任何第三方共享。此信息对于您与我们之间的合同的适当履行是必要的。
        <br>
        （2）面部特征数据。首次使用面部识别功能时，您可以自愿授予我们访问相机和相册的权限，以便在移动设备中获取面部照片。只有您确认许可，我们才能访问您的相机和相册。然后，我们将使用第三方提供的sdk分析面部特征数据，识别照片中五个感官的位置和形状，并处理照片，并将效果图反馈给您。这样的效果图将不包含任何个人身份信息。对于此类数据，照片和效果图，我们既不会存储也不会与任何第三方共享。 处理此类信息的目的仅在于操作应用程序的面部识别功能（包括但不限于衰老效果，性别变换，人脸融合等）。
        <br>
        （3）处理此类信息的目的仅在于操作应用程序的人脸识别功能（包括但不限于衰老效果、性别转化效果、人脸融合效果、换脸效果、滤镜效果），相机和照片。为了使用该应用程序的某些功能，您可以自愿授予我们访问相机或相册的权限，以便在您的移动设备中获取照片。我们可能会通过使用Photo Kit API来收集您在使用该应用程序时上传或提交的照片，图片和其他数据。此信息对于您与我们之间的合同的适当履行是必要的。
        <br>
        （4）支持相关信息。如果您通过我们的支持部分或通过电子邮件与我们联系，我们可能会收集您的联系信息，您的投诉或反馈以及您自愿提供的与此支持有关的任何信息。此类信息仅用于为您提供支持服务，不会与通过软件和服务从您那里收集的任何其他信息相关联。 您提交的信息的目的是：
        <br>   （1）操作和更新软件和服务；
        <br> （2）改进和定制软件和服务及相关服务；
        <br>  （3）维护，测试和监视软件的质量和操作；
        <br>   （4）为您提供支持并处理您的投诉和/或反馈；
        <br>    （5）在涉及您与软件和服务有关的纠纷时采取任何措施；
        <br>   （6）遵守并满足任何适用的法律法规，法律程序或可执行的政府要求。
        <br>
        1.2自动处理的信息
        <br>
        （1）当您使用软件和服务时，我们将使用Xcode API收集以下信息：
        <br>   -通用唯一标识符（UUID），移动设备的类型以及安装在移动设备上的应用程序和操作系统版本；
        <br>   -国家，语言；
        <br>
        （2）元数据。元数据可以描述照片或其他文件中包含的位置信息和文件创建时间，或者照片中字符的粗略特征以及照片中包含的其他内容。我们使用照片元数据为您提供某些功能，包括精确的“面部识别”，“关键点识别”以及其他基于这些基本功能的自定义功能。
        <br>
        （3）付款数据。我们可能收集有关您的订购单的信息，例如购买商品，订购时间，订单状态，付款时间。我们不收集，也不对收集付款细节或保证安全负责。付款信息是使用第三方公司（例如Apple和Google）处理和存储的。可通过以下网站与这些公司联系：https：//http://www.apple.com或https://play.google.com。在输入您的个人付款详细信息之前，我们建议您阅读并熟悉这些第三方公司的隐私政策。 当您开始使用软件和服务时，将通过自动数据处理技术自动处理信息。自动处理的信息的目的是：
        <br> （1）操作和更新软件和服务，并为您提供现有和新的功能和特性；
        <br>   （2）改进和定制软件和服务及相关服务；
        <br>   （3）维护，测试，监视和改善软件的质量和操作；
        <br>   （4）强制执行适用于软件和服务的条款和条件，并防止，检测和调查欺诈，安全漏洞，潜在的禁止或非法活动及其滥用，保护我们的商标并执行我们的使用条款。
        <br>
        2.保护个人信息<br>
        我们采取预防措施，包括行政，技术和物理措施，以保护您的个人信息免遭丢失，盗窃和滥用以及未经授权的访问，披露，更改和破坏。
        <br>
        确保您的个人信息安全；我们会向所有员工传达我们的隐私和安全准则，并严格执行公司内部的隐私保护措施。
        <br>
        不幸的是，互联网上的传输方法或电子存储方法都不是100％安全的。我们尽力保护您的个人信息，但是，我们不能保证其绝对安全。如果您的个人信息因安全受到破坏而被盗用，我们将立即按照适用法律通知您。
        <br>
        如果您对我们的软件和服务的安全性有任何疑问，可以通过下面显示的电子邮件与我们联系。
        <br>
        3.与第三方共享信息<br>
        除以下事件外，我们不会共享我们从您那里收集的任何个人识别信息：
        <br>
        3.1如果法律要求我们披露您的信息，我们可能会视需要与执法机构或其他主管当局和任何第三方共享您的信息（例如，检测，预防或以其他方式解决欺诈，安全或技术问题） ；回应要求或满足任何法律程序，传票或政府要求；或保护小组用户，合作伙伴或公众的权利，财产或人身安全）；
        <br>
        3.2如果团队经历了业务过渡，例如另一家公司的合并或收购，合并，控制权变更，重组或出售其全部或部分资产，则您的信息将包含在转让的资产中。
        <br>
        4.第三方内容<br>
        某些软件和服务可能包括和/或使您能够向其中添加内容。内容的形式可以是按钮，小工具，指向第三方广告，网站，产品和服务（包括搜索服务）的链接，以及第三方提供给您的其他方式（统称为“第三方内容和服务” ”）。此类第三方内容和服务的使用受其隐私政策的约束。您应了解，使用第三方内容和服务可能使这些第三方能够访问，收集，存储和/或共享您的信息，包括您的PII和非个人身份信息。为澄清起见，我们不对此类第三方内容和服务进行审查，批准，监控，认可，保证或作出任何陈述，并且您访问任何第三方内容和服务的风险由您自行承担。对于这些第三方内容和服务的实践，您的使用或无法使用或无法使用这些信息，我们不承担任何责任。您明确免除我们因使用此类第三方内容和服务而引起的任何责任。我们建议您在使用或访问任何第三方内容和服务之前，请阅读其条款，条件和隐私策。
        <br>
        5.将数据传输到您的区域之外<br>
        我们在国际空间工作，并向世界各地的用户提供我们的软件和服务。我们和为软件和服务提供自动数据处理技术的第三方组织可能会将跨边界的自动处理的信息从您所在的国家或地区转移到世界其他国家或地区。
        <br>
        根据法律要求，在此您位于EEA的任何地方，在此明确表示同意您在使用软件和服务后将您的数据传输到EEA以外的地方。您可以随时通过以下电子邮件与我们联系，以撤回您的同意。
        <br>
        6.我们将如何保留您的个人数据<br>
        我们通常会保留您的个人信息，直到您与我们之间履行合同并遵守我们的法律义务。如果您不再希望我们使用我们实际访问和存储的信息，则可以要求我们擦除您的个人信息并关闭您的帐户。
        <br>
        特别的，在本产品中的面部数据，仅用于功能使用过程中的识别、提取、操作，不做任何存储。
        <br>
        但是，如果为了遵守法律义务（征税，会计，审计）或为了维护安全和数据备份设置，防止欺诈或其他恶意行为而需要信息，某些数据可能仍会存储一段时间。
        <br>
        7.您的数据权利<br>
        您有权访问，修改，更正或删除我们可能收集的任何个人数据。为了行使这项权利，请通过电子邮件customer@linghit.com与我们联系。如果您在欧洲经济区，则您有权（除少数例外情况）：（i）请求访问和更正或删除您的个人信息； （ii）获得处理限制或反对处理您的个人信息； （iii）要求以数字格式提供您的个人信息的副本。您也有权向EEA的本地数据保护机构投诉有关处理您的个人信息的投诉。要行使这些权利，请通过电子邮件customer@xiyan.com与我们联系。
        <br>
        9.更改隐私政策<br>
        本隐私政策可能会不时更改。任何更改都将在软件界面上发布。您持续使用软件和服务将被视为您接受此类更新。
        <br>
        10.隐私问题<br>
        在本协议中未声明的其他一切权利，仍归本公司所有。本公司保留对本协议的最终解释权利。
        <br>
        如果您还有其他问题和建议，可以通过电子邮件shanhel@qq.com联系我们。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">确定并同意</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="privateModal" tabindex="-1" aria-labelledby="privateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privateModalLabel">用户协议</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        在此特别提醒您在注册成为用户之前，请认真阅读本《服务协议》（以下简称“协议”），确保您充分理解本协议中的各项条款。<br>请您谨慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款a否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。<br>本协议约定我方与用户之间关于App软件服务（以下简称“服务”）的权利义务。用户，是指注册、登录、使用本服务的个人或组织。本协议可由我方随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本App中查阅最新版协议条款。<br>在修改协议条款后，如果用户不接受修改后的条款，请立即停止使用我方提供的服务，用户继续使用我方提供的服务将被视为接受修改后的协议。
        <br>
        一、账号注册
        <br>
        1、用户在使用本服务前需要注册一个App账号。本App账号应当使用手机号码、邮箱绑定注册，请用户使用尚未与本App账号绑定的手机号码，以及未被我方协议封禁的手机号码注册本App账号。我方可以根据用户需求或产品需要对账号注册和绑定的方式进行变更，而无须事先通知用户。
        <br>
        2、鉴于本App账号的绑定注册方式，您同意在注册本App时将允许您的手机号码及手机设备识别码等信息用于注册。
        <br>
        3、在用户注册及使用本服务时，我方需要搜集能识别用户身份的个人信息以便我方可以在必要时联系用户，或为用户提供更好的使用体验。我方搜集的信息包括但不限于用户的姓名、地址；我方同意对这些信息的使用将受限于第三条用户个人隐私信息保护的约束。
        <br>
        二、用户个人隐私信息保护
        <br>
        1、如果我方发现或收到他人举报或投诉用户违反本协议约定的，我方有权不经通知随时对相关内容，包括但不限于用户资料、发布记录进行审查、删除，并视情节轻重对违规账号处以包括但不限于警告、账号封禁、设备封禁、功能封禁的处罚，且通知用户处理结果。
        <br>
        2、因违反用户协议被封禁的用户，可以自行与我方联系。其中，被实施功能封禁的用户会在封禁期届满后自动恢复被封禁功能。被封禁用户可提交申诉，我方将对申诉进行审查，并自行合理判断决定是否变更处罚措施。
        <br>
        3、用户理解并同意，我方有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应承担由此而产生的一切法律责任。
        <br>
        4、用户理解并同意，因用户违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿我方与合作公司、关联公司，并使之免受损害。
        <br>
        三、用户发布内容规范
        <br>
        1、本条所述内容是指用户使用本App的过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注册信息及认证资料，或文字、语音、图片、视频、图文等发送、回复或自动回复消息和相关链接页面，以及其他使用账号或本服务所产生的内容。
        <br>
        2、用户不得利用本App账号或本服务制作、上传、复制、发布、传播如下法律、法规和政策禁止的内容：
        <br>
        (1) 反对宪法所确定的基本原则的；
        <br>
        (2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        <br>
        (3) 损害国家荣誉和利益的；
        <br>
        (4) 煽动民族仇恨、民族歧视，破坏民族团结的；
        <br>
        (5) 破坏国家宗教政策，宣扬邪教和封建迷信的；
        <br>
        (6) 散布谣言，扰乱社会秩序，破坏社会稳定的；
        <br>
        (7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        <br>
        (8) 侮辱或者诽谤他人，侵害他人合法权益的；
        <br>
        (9) 含有法律、行政法规禁止的其他内容的信息。
        <br>
        3、用户不得利用本App账号或本服务制作、上载、复制、发布、传播如下干扰本App正常运营，以及侵犯其他用户或第三方合法权益的内容：
        <br>
        (1) 含有任何性或性暗示的；
        <br>
        (2) 含有辱骂、恐吓、威胁内容的；
        <br>
        (3) 含有骚扰、垃圾广告、恶意信息、诱骗信息的；
        <br>
        (4) 涉及他人隐私、个人信息或资料的；
        <br>
        (5) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；
        <br>
        (6) 含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。
        <br>
        四、使用规则
        <br>
        1、用户在本服务中或通过本服务所传送、发布的任何内容并不反映或代表，也不得被视为反映或代表我方的观点、立场或政策，我方对此不承担任何责任。
        <br>
        2、用户不得利用本App账号或本服务进行如下行为：
        <br>
        (1) 提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的；
        <br>
        (2) 强制、诱导其他用户关注、点击链接页面或分享信息的；
        <br>
        (3) 虚构事实、隐瞒真相以误导、欺骗他人的；
        <br>
        (4) 利用技术手段批量建立虚假账号的；
        <br>
        (5) 利用本App账号或本服务从事任何违法犯罪活动的；
        <br>
        (6) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；
        <br>
        (7) 其他违反法律法规规定、侵犯其他用户合法权益、干扰本App正常运营或我方未明示授权的行为。
        <br>
        3、用户须对利用本App账号或本服务传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与我方无关。如因此给我方或第三方造成损害的，用户应当依法予以赔偿。
        <br>
        4、我方提供的服务中可能包括广告，用户同意在使用过程中显示我方和第三方供应商、合作伙伴提供的广告。除法律法规明确规定外，用户应自行对依该广告信息进行的交易负责，对用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，我方不承担任何责任。
        <br>
        五、其他
        <br>
        1、我方郑重提醒用户注意本协议中免除我方责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。
        <br>
        2、本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和我方之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交我方住所地有管辖权的人民法院管辖。
        <br>
        3、本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。
        <br>
        4、本协议最终解释权归我方所有，据苹果公司免责条款特此声明：该App注册及用户协议与苹果公司无关。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">确定并同意</button>
      </div>
    </div>
  </div>
</div>
<footer th:replace="home/footer::footer-foot"></footer>
</body>
</html>